.vscode/**
.vscode-test/**
src/**
test/**
out/test/**
.git/**
.gitignore
tsconfig.json
**/*.map
node_modules/@types/**
node_modules/@vscode/test-electron/**
node_modules/typescript/**
node_modules/mocha/**
node_modules/@vscode/vsce/**
